.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.App-title {
  font-size: 1.5em;
  background-color: #BFCFEC;
}

.App-instructions {
  border-style: solid;
  border-width: 2px;
  border-color: #BFCFEC;
  width: 50%;
  height: 40px;
  line-height: 40px;
  margin-left: 25%;
  margin-bottom: 20px;
}

.App-card {
  width: 15%;
  height: 15%;
}

.App-message {
  visibility: hidden;
}

.App-message-correct {
  line-height: 40px;
  height: 40px;
  width: 30%;
  margin-left: 35%;
  visibility: visible;
  background-color: #81EF94;
}

.App-message-incorrect {
  line-height: 40px;
  height: 40px;
  width: 30%;
  margin-left: 35%;
  visibility: visible;
  background-color: #DF4747;
}

.App-answer-select {
  display: inline-block;
  width: 60px;
  height: 60px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
